@import url(style.css);

h1 {
	--yinmn-blue: rgba(27, 82, 153, 1);
	color: var(--yinmn-blue);
	font-weight: 600;
}

p {
	font-size: 0.9rem;
	margin: 1.5rem 6rem;
}

p:last-child {
	margin-bottom: 5rem;
}
.main-tag {
	--width-tag: 100px;
	--english-violet: rgba(105, 77, 117, 1);
	background-color: var(--english-violet);
	color: white;
	margin: 2rem 0;
}
.main-tag:nth-child(2) {
	background-color: #bd9a84;
	color: purple;
}
