* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header,
footer {
	--bs-gutter-x: 0 !important;
}

section#categorias {
	width: 80%;
}

a {
	text-decoration: none;
	line-height: inherit;
	color: inherit;
}
