
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

header,
footer {
	--bs-gutter-x: 0 !important;
}

a {
	text-decoration: none;
	line-height: inherit;
	color: inherit;
}




/* PALETA DE COLORES */
:root {
	--site-width: 980px;
	--icon-size: 26px;
	--yinmn-blue: rgba(27, 82, 153, 1);
	--english-violet: rgba(105, 77, 117, 1);
	--light-blue: rgba(159, 194, 204, 1);
	--cornsilk: rgba(241, 236, 206, 1);
	--dark-purple: rgba(51, 24, 50, 1);
}

/*BODY CONTAINER*/
.body-container {
	margin-left: calc((100% - var(--site-width)) / 2);
	width: var(--site-width);
}

/*HEADER*/

#logo {
	margin-bottom: 3rem;
	margin-top: 1rem;
}
svg {
	height: var(--icon-size, 26px) !important;
	width: var(--icon-size, 26px) !important;
}

.hover-3 {
	--b: 0.1em; /* GROSOR */
	--c: #1095c1; /* COLOR */

	color: #0000;
	padding-block: var(--b);
	background: linear-gradient(var(--c) 50%, #000 0) 0%
			calc(100% - var(--_p, 0%)) / 100% 200%,
		linear-gradient(var(--c) 0 0) 0% var(--_p, 0%) / var(--_p, 0%) var(--b)
			no-repeat;
	-webkit-background-clip: text, padding-box;
	background-clip: text, padding-box;
	transition: 0.3s var(--_s, 0s) linear,
		background-size 0.3s calc(0.3s - var(--_s, 0s));
}
.hover-3:hover {
	--_p: 100%;
	--_s: 0.3s;
}
.hover-3:visited {
	color: var(--c);
}
.login-text {
	font-size: 0.8rem;
}

/*ABOUT*/

h4{
	margin-top: 30px;
	margin-bottom: 30px;
}

#cierre{
	margin-top: 40px;
	margin-bottom: 40px;
}



/*HERO*/
#hero {
	margin-bottom: 10px;
}
.tag {
	border-radius: 50%;
	background-color: var(--cornsilk);
	padding: 1%;
}

#circle{

	--width-tag: 17rem;
	top: 4%;
	right: 3%;
	width: var(--width-tag);
	height: var(--width-tag);
	background-color: #87b3c1be;
	opacity: 0.5;

}
.main-tag {
	--width-tag: 10rem;
	top: 4%;
	right: 3%;
	width: var(--width-tag);
	height: var(--width-tag);
	background-color: #08526a7e;
	opacity: 1.5;
}
/*TARJETAS DE CATEGORIAS*/
.card {
	width: 18rem;
}
.nav-item {
	font-size: 18px;
	padding: 0 10px 0 10px;
}

#ofertas {
	background-color: #69797d;
	box-shadow: 3px 5px 5px 0px #69797d4a;
	border: #030505;
	width: 300px;
	height: 200px !important;
}

#club {
	background-color: #bd9a84;
	box-shadow: 3px 5px 5px 0px #bd9a844e;
	width: 300px;
	height: 200px !important;
}

#accesorios {
	background-color: #185878;
	box-shadow: 3px 5px 5px 0px #08598250;
	width: 300px;
	height: 200px !important;
}
.card-title > a {
	color: var(--cornsilk);
}

#articulo-esencia{
	display: flex;
	justify-content: center;
}

#logo-esencia{
	display: flex;
	justify-content: space-around;
}

.carousel-inner {
	padding: 1em;
}
.card {
	margin: 0 0.5em;
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
	border: none;
}

.card .img-wrapper {
	max-width: 100%;
	height: 13em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card img {
	max-height: 100%;
}

.carousel-control-prev,
.carousel-control-next {
	background-color: #e1e1e1;
	width: 6vh;
	height: 6vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}

/*CONTACTO*/

#tarjeta-creador1{
	display: flex;
	border: rgba(119, 119, 119, 0.571) 1px solid;
	flex-direction: column;
    align-items: flex-start;
    justify-content: center;
	padding: 30px;
	margin-bottom: 30px;
	width: 50%;
	border-radius: 10px;
	background-color:  #bd9a848c;
	margin: 50px
}

#tarjeta-creador2{
	display: flex;
	border: rgba(119, 119, 119, 0.571) 1px solid;
	flex-direction: column;
    align-items: flex-start;
    justify-content: center;
	padding: 30px;
	margin-bottom: 30px;
	width: 50%;
	border-radius: 10px;
	background-color:   #69797d80;
	margin: 50px
}

/*LOGIN*/

.contenedor, #contenedor{
	display: flex;
	flex-direction: row;
	margin: 20px 50px;
}

.iniciar-sesion{
	display: flex;
	border: rgba(119, 119, 119, 0.571) 1px solid;
	justify-content: center;
    flex-direction: column;
    align-items: center;
	padding: 30px;
	margin-bottom: 30px;
	margin-right: 20px;
	width: 45%;
	border-radius: 10px;
	background-color: #69797d80;
}

#ini-ses{
	padding: 30px;
}

input{
	
	background-color: #eee;
	border: none;
	border-radius: 8px;
	padding: 14px 20px;
	margin: 8px 0;
	width: 100%;
	font-size: 20px;
}


.club{
	display: flex;
	border: rgba(119, 119, 119, 0.571) 1px solid;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	padding: 30px;
	margin-bottom: 30px;
	width: 55%;
	border-radius: 10px;
	background-color:  #bd9a848c;
	margin-left: 20px;
}

#nueva-tarjeta{
	display: flex;
	flex-direction: column;
    align-items: center;
}

#tarjeta-login{
	display: flex;
	flex-direction: column;
    align-items: center;
}

#invitacion{
	display: flex;
	flex-direction: column;
    align-items: center;
}

#formulario{
	display: flex;
	flex-direction: column;
    align-items: center;
}

#boton-club, #boton-iniciar{
    display: flex;
    justify-content: center;
	padding-top: 10px;
}

#boton-club, #boton-iniciar{
    border-radius: 10px;
    border-color: var(--english-violet);
    background-color: transparent;
    color: var(--english-violet);
    font-size: 23px;
    font-weight: bold;
    padding: 20px 80px;
    letter-spacing: 2px;
    margin: 30px auto;
}

#boton-club span, #boton-iniciar span{
    margin: auto;
}

#boton-club:hover, #boton-iniciar:hover{
    border-radius: 10px;
    border-color: #0a0909;
    background-color: transparent;
    color: #060505;
    font-size: 23px;
    font-weight: bold;
    padding: 20px 80px;
    letter-spacing: 2px;
    margin: 30px auto;
}

/*FOOTER*/
.social {
	color: var(--c);
}
#social {
	justify-content: flex-end !important;

}

/* RESPONSIVE */
/*Media Queries (Mobile Last)*/

@media screen and (max-width: 780px) {
	/*BODY CONTAINER*/
	.body-container {
		--site-width: 90%;
		margin-left: calc((100% - var(--site-width)) / 2);
		width: var(--site-width);
	}
	/*HEADER*/
	#logo {
		margin-bottom: 0rem;
	}
	#logo img {
		width: 30%;
	}

	#menu button {
		display: flex !important;
		justify-content: end !important;
	}
	#login {
		margin-top: 1rem;
		align-self: flex-start;
	}
	#menu ul > li {
		padding-top: 1rem;
	}
	#cart {
		display: none;
	}

	/*HERO*/
	.main-tag {
		--width-tag: 8.5rem;
	}
	.main-tag h2 {
		font-size: 1rem;
	}
	/*TARJETAS DE CATEGORIAS*/
	#categorias .col {
		display: flex;
		justify-content: center;
	}
	/*CARRUSEL*/
	.card {
		width: inherit;
	}

	.carousel-item {
		margin-right: 0;
		flex: 0 0 33.333333%;
		display: block;
	}
	.carousel-inner {
		display: flex;
	}




	/*FOOTER*/
	footer {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	#social {
		justify-content: center !important;
	}
}

@media (min-width: 768px) {
	.carousel-item {
		margin-right: 0;
		flex: 0 0 33.333333%;
		display: block;
	}
	.carousel-inner {
		display: flex;
	}
}

@media (max-width: 767px) {
	.card .img-wrapper {
		height: 17em;
	}
}
